a, a:visited {
    text-decoration: none;
}
.main-container {
    background-image: url(../images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 1366px;
    padding-top: 59px;
    padding-bottom: 20px;   
}
.container {
    width: 1063px;
    margin: 0 auto;
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/* HEADER START */
.header-left-block {
    float: left;
}
.header-logo-img {
    float: left;
    background-image: url(../images/logo.png);
    background-repeat: no-repeat;
    width: 46px;
    height: 44px;
    margin-top: 6px;    
}
 .header-logo:hover .header-logo-img {
    background-image:  url(../images/logo-hover.png);
 }
 .header-logo:hover .header-company-name {
    color:  #f2651c;
 }
.header-company-name {
    float: left;
    padding-left:  15px;
    color:  #ffffff;   
}
.header-company-name-big {
    display: block;
    font-family: Verdana;
    font-weight: 700;    
    font-size: 29px;
    padding-bottom: 3px;   
}
.header-company-name-small {
    display: block;
    font-family: Verdana;
    font-weight: 700;
    font-size: 18px;
    padding-top: 3px;  
}
.header-right-block {
    float: right;
    padding-top: 8px;
}
.header-company-contacts {
    display: block;
    font-family: Verdana;
    color:  #ffffff;
    font-size: 18px;
    text-align: right;
    padding-top: 3px;
    padding-bottom: 3px;

}
/* HEADER END */

/* SERVICES LIST START */
.services-list {
    margin-top: 48px;
}
.service-item {
    float: left;
    margin-right: 69px;
    width: 307px;
    margin-bottom: 58px;
    }
.service-item:nth-child(3n) {
        margin-right: 0; 
    }
.service-img {
    position: relative;
    border:  2px solid transparent;
    border-image: linear-gradient(to top, transparent 0%, rgb(229, 229, 229) 100%);
    border-image-slice: 1;
    box-sizing: border-box;
    box-shadow: 0px -17px 24px 0px #000000;
    overflow: hidden;   
}
.service-image {
    max-width: 100%;
}
.service-details {
    background-color:  #f2651c;
    position: absolute;
    bottom: -69px;
    width: 100%;
    -webkit-transition: bottom 0.3s linear;
    -moz-transition: bottom 0.3s linear;
    -o-transition: bottom 0.3s linear;
    transition: bottom 0.3s linear;
    transition: bottom 0.3s linear;
}
.service-details-price {
    float: left;
    padding: 17px 21px; 
}
.service-details-price-from {
    font-family: Verdana;
    color:  #ffffff;
    font-size: 10px;
    display: block;
}
.service-details-price-euro {
    font-family: Verdana;
    color:  #ffffff;
    font-size: 20px;
    display: block;
    padding-top: 5px;
}
.service-details-view {
    float: right;
    padding: 17px 18px;
}
.service-details-view-details {
    font-family: Verdana;
    color:  #ffffff;
    font-size: 14px;
}
.service-details-view-details::after {
content: ">";
padding-left: 13px
}
.service-name {
    font-family: Verdana;
    color:  #ffffff;
    font-size: 18px;
    text-align: center;
    padding-top: 22px;
}
.service-item:hover .service-details {
    bottom: 0;
}
.service-item:hover .service-name {
    color:  #f26522;  
}
/* SERVICES LIST END */

/* FOOTER START */
.copyright {
    font-family: Verdana;
    color:  #ffffff;
    font-size: 12px;
    text-align: center;
}
/* FOOTER END */