@font-face {
  font-family: 'Montserrat';
  src: url(../Fonts/Montserrat/Montserrat-Regular.ttf);
}
a {
  text-decoration: none;
}
.header-bg {
  background-image: url(../Images/Sections-bg/section-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 366px;
  padding-bottom: 244px;
}
.navbar-bg {
  background-color: rgba(73, 71, 63, 0.6);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 2;
}
.container {
  width: 1160px;
  margin: 0 auto;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Montserrat', sans-serif; 
}
.navbar-logo {      
  margin: 28px 0;
  display: flex;
  align-items: center;
}
.navbar-logo-polygon {
  display: inline-block;
  background-image: url(../Images/polygon.png);
  background-repeat: no-repeat;
  background-size: cover;
  color:  #ffffff;
  font-size: 40px;
  font-weight: 700;
  width: 58px;
  height: 67px;
  line-height: 67px;
  text-align: center;   
}
.navbar-logo-name {
  display: inline-block;
  color:  #ffffff;
  font-size: 32px;
  font-weight: 400;
  margin-left: 8px;
  line-height: 31px; 
}
.logo-name-style {
  color:  #18cfab;
  font-weight: 700;
}
.navbar-menu {
  display: inline-block; 
}
.navbar-link {
  color:  #b8b8b8;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  margin-left: 10px;
  margin-right: 10px;
  display: inline-block;
  position: relative;
}
.navbar-link:hover {
  color: #18cfab; 
}
.navbar-link:hover::after {
  content: "";
  position: absolute;  
  width: 100%;
  background-color:  #18cfab;
  height: 2px;
  left: 0;
  top: 68px;
}
.search-link {
  display: inline-block;
  margin-left: 10px;
}
.search-link-img {
  vertical-align: middle;
}
.header-content {
  text-align: center;
  font-family: 'Montserrat', sans-serif;   
}
.header-description {  
  color:  #ffffff;
  font-size: 35px;
  font-weight: 700;
  text-transform: uppercase;
  }
.header-slogan-big {
  margin-top: 45px;  
  color:  #ffffff;
  font-size: 79px;
  font-weight: 700;
  text-transform: uppercase;  
}
.header-slogan-small {
  margin-top: 37px;
  color:  #d4d4d4;
  font-size: 34px;
  font-weight: 300;
  margin-bottom: 146px; 
}
.green-text {
  color: #18cfab;
}
.btn {
  width: 166px;
  padding: 15px 0;
  border-radius: 4px;
  background-color:  #18cfab;
  color:  #ffffff;
  font-size: 13px;
  font-weight: 700;
  line-height: 31px;
  text-transform: uppercase;
  position: relative;
  cursor: pointer;
}
.btn::before {
  content: '';
  display: block;
  position: absolute;
  border-radius: 4px;
  width: 166px;
  height: 12px;
  top: 0px;
  box-shadow: 0px -5px 0px 0px #ffffff;
}
.btn-header {
  margin: 0 14px;
  display: inline-block;
}
.btn:hover {
  background-color:  #00cbf6;
}
.features {
  display: flex;
  font-family: 'Montserrat', sans-serif;
}
.features-item {
  padding-top: 90px; 
  padding-bottom: 90px; 
  flex: 1;
  border-top: 7px solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.features-item:nth-child(odd) {
  background-color: #1c2a33;
  border-top-color: #18cfab;
  color: #18cfab;
}
.features-item:nth-child(even) {
  background-color: #18cfab;
  border-top-color: #ffffff;
  color: #ffffff;
}
.features-icon {
  height: 97px;
  display: flex;
  align-items: center;
}
.features-description {
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 48px;
  text-align: center;
}
.features-icon-img {
  max-width: 100%;
  max-height: 97px;
}
.services {
  padding-top: 82px;
  font-family: 'Montserrat', sans-serif;
}
.section-title {
  color:  #4e4e4e;
  font-size: 36px;
  position: relative;
  text-align: center;
}
.section-title::before {
  content: '';
  position: absolute;
  background-color:  #18cfab;
  width: 76px;
  height: 1px;
  top: 68px; 
  left: calc(50% - 44px);
}
.section-title::after {
  content: '';
  position: absolute;
  background-color:  #18cfab;
  width: 76px;
  height: 1px;
  top: 71px; 
  left: calc(50% - 32px);
}
.services-menu {
  margin-top: 112px;
  display: flex;  
  justify-content: center;
}
.services-menu-link {
  color:  #717171;
  font-size: 16px;
  padding-top: 28px;
  padding-bottom: 28px;
  border: 1px solid rgb(229, 229, 229);
  flex: 1;
  background-color: rgb(248, 252, 254);
  position: relative;
  display: flex;  
  justify-content: center;
  cursor: pointer;
}
.services-menu-link.active {
  background-color: #18cfab;
  color: #ffffff;
}
.services-menu-link:hover {
  color: #000000;
}
.services-menu-link.active::after {
  content: '';
  display: block;
  position: absolute;
  background-color: #18cfab;
  width: 15px;
  height: 15px;
  transform: rotate(45deg);
  top: 64px;  
}
.services-item {
  margin-top: 25px;
  display: none;
}
.services-item.active {
  display: flex;
}
.services-item-description {
  color:  #777777;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  text-align: justify;
  padding-left: 20px;
}
.slogan1-bg-img {
  background-image: url(../Images/Sections-bg/section-2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 103px;
}
.slogan1-bg-color {
  background-color:  rgba(0, 0, 0, 0.78);
  padding-bottom: 127px; 
}
.slogan1-title {
  padding-top: 126px; 
  text-transform: uppercase;
  font-size: 40px;
  color:  #18cfab;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}
.slogan1-description {
  color:  #d8d8d8;
  font-size: 16px;
  margin-top: 35px;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}
.slogan1-btn {
  text-align: center;
  margin: 80px auto 0;
  display: block;  
}
.amazing-work {
  padding-top: 97px;
  background-color: rgb(248, 252, 254);
  border-bottom: 1px solid rgb(229, 229, 229);
  font-family: 'Montserrat', sans-serif; 
}
.amazing-work-menu {
 margin-top: 101px;
 display: flex;  
 justify-content: center; 
}
.amazing-work-menu-link {
  color:  #717171;
  font-size: 14px;
  padding: 20px 20px;
  border: 1px solid rgb(229, 229, 229);
  background-color: #ffffff;
  display: block;
  cursor: pointer;
}
.amazing-work-menu-link:hover {
  color:  #18cfab;
}
.amazing-work-menu-link.active {
  color:  #18cfab;
  border-top-color : #18cfab;
}
.amazing-work-list {
  margin-top: 71px;
  display: flex;
  flex-wrap: wrap;
}
.amazing-work-list-item {
  width: 285px;
  height: 205px; 
}
.amazing-work-list-item-picture {
  overflow: hidden; 
}
.amazing-work-list-item-hover {
  height: 205px;
  border-top: 3px solid #18cfab;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
}
.amazing-work-list-item:hover .amazing-work-list-item-picture {
  display: none;
}
.amazing-work-list-item:hover .amazing-work-list-item-hover {
  display: flex;
}
.circle-pozitive {
  width: 40px;
  height: 40px;
  border: 1px solid #18cfab;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.circle-negative {
  width: 41px;
  height: 41px;
  background-color: #18cfab;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.amazing-work-list-item-title {
  color:  #18cfab;
  font-size: 14px;
  font-weight: 700;
  margin-top: 34px;
  margin-bottom: 13px;
}
.amazing-work-list-item-description {
  color:  #8a8a8a;
  font-size: 12px;
  font-weight: 300;
}
.amazing-work-btn {
  display: block;
  margin: 71px auto 100px;
  text-align: center;
}
.btn-add-img {
  position: relative;
  display: inline-block;
  top: 4px;  
}
.btn-add-text {
  display: inline-block;
  padding-left: 16px;
}
.breaking-news {
  padding-top: 84px;
  font-family: 'Montserrat', sans-serif; 
}
.breaking-news-list {
  margin-top: 105px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.breaking-news-item {
  margin-bottom: 45px;
}
.breaking-news-item-img {
  display: flex;
  flex-direction: column;
  position: relative;
}
.breaking-news-item-img:hover .breaking-news-item-date {
  background-color:  #18cfab;
}
.breaking-news-item-img:hover + .breaking-news-item-description .breaking-news-item-title {
  color: #18cfab;
}
.breaking-news-item-date {
  position: absolute;
  background-color:  #203e38;
  width: 67px;
  height: 67px;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  color:  #ffffff;
  font-size: 16px;
  text-align: center;
}
.breaking-news-item-description {  
  padding-top: 14px;
  background-color: rgb(248, 252, 254);
  border: 1px solid rgb(229, 229, 229);
  text-align: left;    
}
.breaking-news-item-title {
  display: block;
  color:  #717171;;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 14px;
  padding-left: 13px;
}
.breaking-news-item-comment {
  display: inline-block;
  color:  #777777;
  font-size: 14px;
  font-weight: 300;
  padding-right: 13px;
  padding-left: 13px;
  margin-bottom: 12px;  
}
.breaking-news-item-comment:last-child {
  border-left: 1px solid #777777; 
}
.about {
  margin-top: 86px;
  background-image: url(../Images/Sections-bg/section-3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Montserrat', sans-serif; 
}
.about-bg-color {
  background-color: rgba(46, 74, 91, 0.5);
  padding-top: 99px;
  padding-bottom: 100px;
}
.about-title {
  color:  #ffffff;
}
.about-description {
  color:  #bbbbbb;
  font-size: 16px;
  font-weight: 300;
  line-height: 30px;
  margin-top: 178px;
  position: relative;
  text-align: center;
}
.about-description::before {
  content: '';
  width: 44px;
  height: 30px;
  position: absolute;
  left: calc(50% - 22px);
  top: -70px;
  background-image: url(../Images/About/quotes.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.about-person-name {
  margin-top: 43px;
  display: block;
  color:  #18cfab;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;  
}
.about-person-position {
  margin-top: 12px;
  display: block;
  color:  #bbbbbb;
  font-size: 13px;
  font-weight: 300;
  text-align: center;  
}
.about-person-disk {
  width: 140px;
  height: 140px;
  margin: 27px auto 0;
  border-radius: 50%;
  border: 10px solid rgba(31, 218, 181, 0.2);
  box-sizing: border-box;
}
.about-person-img {
  border: 2px solid #18cfab;
  border-radius: 50%;
}
.slider {
 margin-top: 36px;
 display: flex;
 justify-content: center;
 align-items: center; 
}
.slider-container {  
  overflow: hidden;
  width: 448px;
}
.slider-band {
  width: 5555px;
  text-align: left;
  height: 100px;
  transition: 0.5s;
}
.slider-item {
  display: inline-block;
  margin-left: 35px;
  margin-top: 17px; 
  border-radius: 50%;
  border: 4px solid rgba(31, 218, 181, 0.2);
  cursor: pointer;
}
.slider-btn {
  background-repeat: no-repeat;
  background-position: center;
  width: 31px;
  height: 31px;
  border: 1px solid #bbbbbb;
  cursor: pointer;
}
.slider-btn-back {
  background-image: url(../Images/About/forma1.png);
  background-repeat: no-repeat;
}
.slider-btn-next {
  background-image: url(../Images/About/forma2.png);
  background-repeat: no-repeat;
}
.slider-btn.active {
  background-color: #18cfab;
  border: none;
}
.slider-img-box {
  box-sizing: border-box;
  border-radius: 50%;
  width: 60px;
  height: 60px;
}
.slider-item.active {  
  position: relative;
  top: -15px;
}
.slider-item.active .slider-img-box {  
  border: 2px solid #18cfab;
} 
.slider-item-img {
  max-width: 100%;
}
.best-images {
  padding-top: 98px;
  background-color: rgb(248, 252, 254);
  font-family: 'Montserrat', sans-serif; 
}
.best-images-list {
  padding-top: 106px;
  display: flex;
  flex: 1;
  justify-content: space-between;  
}
.best-images-list-column {
  display: flex;
  flex-direction: column; 
}
.best-images-list-column>div {
  margin-bottom: 18px;
}
.best-images-list-column>div>div>div {
  margin-bottom: 3px;
  margin-right: 3px;
}
.best-images-list-column>div>div>div:last-child {
  margin-right: 0;
}
.best-images-list-column>div>div>div>div {
  margin-bottom: 3px;
}
.best-images-list-column>div>div {
  display: flex;
}
.best-images-img {
  position: relative;
  display: flex;
}
.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, 0.7);
  height: 100%;
  width: 100%;
  opacity: 0;
}
.icon-container:hover {
  opacity: 1;
}
.icon-img {
  height: 38px;
  width: 39px;
}
.icon-container div {
  margin: 7px;
}
.best-images-btn {
  margin-top: 92px;
  margin-bottom: 82px;
  margin-left: auto; 
  margin-right: auto;
  text-align: center; 
}
.footer {
  background-color:  #22353f;
}
.footer-rights {
  color:  #aeaeae;
  font-size: 14px;
  font-weight: 300;
  padding-top: 47px;
  padding-bottom: 47px;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}