html, body {
 height: 100%
}
.main-container {
  background-color: rgb(20, 19, 19);
  height: 100%;  
}
.table {
  margin: 0 auto;
  border: 14px solid #424549;
  border-collapse: collapse;
}
tr {
  height: 61px;
}
td {
border: 8px solid #424549;
box-sizing: border-box;
}
td:nth-child(1) {
  width: 84px;
}
td:nth-child(2) {
  width: 39px;
}
td:nth-child(3) {
  width: 83px;
}
td:nth-child(4) {
  width: 61px;
}
td:nth-child(5) {
  width: 61px;
}
td:nth-child(6) {
  width: 84px;
}
td:nth-child(7) {
  width: 84px;
}
.color-black {
  background-color: black;
}
.color-white {
  background-color: rgb(243, 245, 239);
}
.color-yellow {
  background-color: yellow;
}
.color-blue {
  background-color: rgb(82, 136, 252);
}
.color-red {
  background-color: red;
}
.no-border-right {
  border-right: none;
}
.no-border-left {
  border-left: none;
}