html, body {  
  height: 100%;
  overflow: hidden;
}
.background {
background-color: black;
height: 100%;
padding: 1% 20px 0 20px;
}
.perspective-container { 
  width: 53%;
  height: 100%;
  margin: 0 auto;
  background-color: black;  
  perspective: 160px;
  perspective-origin: center -2%; 
}
.animate-container {
  text-align: center;
  height: 100%;
  color: rgb(255, 238, 0);
  background-color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 600;
  transform: rotateX(50deg);
  position: relative;
  overflow: hidden;  
}
.animate-content {
  position: absolute;
  letter-spacing: 4px;
  line-height: 1.5em;
  padding-left: 10px;
  animation: autoscroll 30s infinite linear;
}
.episode-name {
  font-size: 1.5em;
}
.episode-title {
  font-size: 1.7em;
  margin: 20px 0;  
}
.episode-text {
  font-size: 1.4em;
  text-align: left;  
}
@keyframes autoscroll {
  from { transform: translateY(60vh);}
  to   { transform: translateY(-60vh);}
}