.parallax {
  perspective: 2px;
  /* perspective: 1px; */
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}
.header {
  margin: 0 auto;
  box-sizing: border-box;
  position: relative;
  padding: 530px 0 145px 0;
}
.header-company-name {
  font-family: 'Montserrat', sans-serif;
  color:  #ffffff;
  font-size: 48px;
  font-weight: 700;  
  width: 100%;
}
.header-company-description {
  font-family: 'Lato', sans-serif;
  color:  #ffffff;
  font-size: 18px;
  font-weight: 400;
  margin-top: 16px;
  width: 100%;
}
.header-slogan {
  font-family: 'Montserrat', sans-serif;
  color:  #ffffff;
  font-size: 54px;
  font-weight: 700;
  margin-top: 28px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid #ffffff;
  display: inline-block;
  padding-right: 56px;
  }
.header-slogan-bg {
  background-color: white;
  padding: 48px 29px 41px 34px;
  display: inline-block ;
}
.header::after {
  content: '';
  background-image: url(../images/bg1.JPG);
  background-repeat: no-repeat;
  background-size: 100%;
  position: absolute;  
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateZ(-1px) scale(1.6);
  z-index: -1;  
}
.header-content {
  width: 1170px;
  margin: 0 auto;
  transform: translateZ(0);
} 
.section-headlines {
  padding-top: 120px;
  padding-bottom: 140px;
  background-color: white;
 }
.section {
  box-sizing: border-box;
  position: relative;
}
.section::after {
  content: '';
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateZ(-1px) scale(1.6);
  /* transform: translateZ(-2px) scale(2.1); */
  z-index: -2;
}
.section-bg-2::after {
  content: ''; 
  background-image: url(../images/bg2.JPG);
  top: -100px;
  z-index: -2;
}
 .section-bg-3::after {
  content: ''; 
  background-image: url(../images/bg3.JPG);
  top: -100px;
  z-index: -3; 
}
.section-bg-4::after {
  content: ''; 
  background-image: url(../images/bg4.JPG);
  top: -450px;
  z-index: -4;
}
.section-content {
  transform: translateZ(0); 
}
.text-orange {
  color:#f1ad1d;
}
.section-title {
  font-family: 'Montserrat', sans-serif;
  color:  #333333;
  font-size: 22px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 35px;
}
.section-description {
  font-family: 'Lato', sans-serif;
  color:  #4d4943;
  font-size: 17px;
  font-weight: 400;
  margin-top: 35px;
  text-align: center;
}
.under_line::after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background-color: #f1ad1d;
  margin: 52px auto 0;  
}

.slogan-title {
  font-family: 'Montserrat', sans-serif;
  color:  #ffffff;
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin-top: 150px;
  padding-bottom: 150px;
}
.slogan-title-featured {
  font-family: 'Montserrat', sans-serif;
  color:  #ffffff;
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin-top: 150px;
}
.featured-description {
  font-family: 'Lato', sans-serif;
  color:  #ffffff;
  font-size: 18px;
  font-weight: 400;
  margin-top: 60px;
  padding-bottom: 70px;
  width: 100%;
  text-align: center;
  line-height: 28px;
}
.under_gray_line::after {
  content: "";
  display: block;
  width: 281px;
  height: 3px;
  background-color: #ffffff;
  margin: 44px auto 0;  
}
.partners-logos-list {
  margin-top: 58px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.partner-logo-link {
  margin-right: 32px;
  margin-left: 32px;
  margin-bottom: 113px;
}
.partner-logo-link-img {
  max-width: 100%;
}