/* font for google logo */
@font-face {
    font-family: "futura";
    src: url(../fonts/futura.ttf);
}
@font-face {
    font-family: "facebook";
    src: url(../fonts/facebook.ttf);
}
html, body {
    height: 100%;
}
.clearfix {
    content: "";
    display: table;
    clear: both;
}
a {
    text-decoration: none;
}
.color-text {
    color:  #3cb878;
    font-family: Verdana, sans-serif;
    font-size: 14px;    
}
.color-text:hover {
    color:  #3cb878;
    text-decoration: underline;
}
.container {
    width: 322px;
    margin: 0 auto 16px;
} 
.main-container {
    background-image: url(../images_day/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 72px;
    height: 100%;
}
.header-bg {
    background-color: rgba(0, 0, 0, 0.4);
}
.header {
    width: 90%;
    margin: 0 auto;
    padding-top: 17px;
    padding-bottom: 16px;
}
.header-title {
    text-transform: uppercase;
    font-family: 'Verdana', sans-serif;
    color:  #ea7208;
    font-size: 20px;
    font-weight: 700;
    float: left;transition: color 0.7s ease-out 0s;
}
.header-title:hover {
    color: #ffffff;
    transition: color 0.6s ease-out 0s;
}
.header-nav {
    float: right;
    height: 20px;
}
.header-nav-item {
    display: inline-block;
    background-image: url(../images_day/sprite.png);
    background-repeat: no-repeat;
    width: 28px;
    height: 20px;   
    margin: 0 13px;
    transition: background-position-x 0.1s ease-out 0s;
}
.header-nav-item-calendar {
    background-position: -30px -4px;
}
.header-nav-item-calendar:hover {
    background-position: -3px -4px;
} 
.header-nav-item-forum {
    background-position: -94px -4px;
}
.header-nav-item-forum:hover {
    background-position: -58px -4px;
} 
.header-nav-item-journey {
    background-position: -153px -4px;
}
.header-nav-item-journey:hover {
    background-position: -125px -4px;
}
.header-nav-item-journey:hover {
    transition: background-position-x 0.1s ease-out 0s;
}
.header-nav-welcome {
    display: inline-block;
    font-family: Verdana, sans-serif;
    color:  #ea7208;
    font-size: 14px;   
    position: relative;
    top: -5px; 
}
.brown-line {
    display: inline-block;
    width: 1px;
    height: 18px;
    background-color: rgb(141, 101, 101);
    margin: 0 26px 0 13px;
}
.header-nav-theme {
    margin-right: 20px;
    padding: 5px;
    border: 1px solid #ea7208;
    border-radius: 4px; 
}
.header-nav-theme:hover {
    color: #ffffff;
    border-color: #ffffff;
}
.form-container {    
    background-color: #ffffff;
    margin: auto;
    box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.52);
    border-radius: 10px;
    width: 444px; 
    padding: 29px 0px 14px 0px;
    position: relative;
    top: calc(50% + 10px); /* опустили на ширину header */    
    transform: translateY(-50%);    
}
.color-lable {
    background-image: url(../images_day/color-lable.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 19px;
    height: 19px;
    position: absolute;
    left: 0;
}
.sign-up {
    float: left;
    font-family: 'Verdana', sans-serif;
    color:  #434343;
    font-size: 20px;
 }
 .log-in {
    float: right;
    font-family: 'Verdana', sans-serif;
    font-size: 14px;    
    padding-top: 5px;
 } 
 .btn-login-facebook {
    float: left; ;
    background-color: rgb(48, 93, 184);
    padding: 11px 0 9px 3px;
    border-radius: 3px;
 }
 .btn-login-facebook-logo {
    display: inline-block; 
    width:  43px;
    text-align: center;
    font-family: 'facebook', 'Verdana', sans-serif; 
    color:  #ffffff;
    font-size: 26px;
 }
 .blue-line::after {
    content: "";
    display: block;
    float: right;
    width: 2px;
    height: 26px;
    background-color: rgb(40, 84, 172);
 }
 .btn-login-facebook-text {
    display: inline-block;
    width: 107px;
    text-align: center;    
    font-family: 'Verdana', sans-serif;
    color:  #ffffff;
    font-size: 16px;
    line-height: 26px;
    vertical-align: top;
 }
 .btn-login-google {
    float: right;
    background-color: #e0492e;
    padding: 12px 0 8px 3px;
    border-radius: 3px;     
 }
 .btn-login-google-logo {
    display: inline-block; 
    width:  43px;
    text-align: center;
    font-family: 'futura', 'Verdana', sans-serif; 
    color:  #ffffff;
    font-size: 22px;
 }
 .red-line::after {
    content: "";
    display: block;
    float: right;
    width: 2px;
    height: 26px;
    background-color: #ce4c35;
 } 
 .btn-login-google-text {
    display: inline-block;
    width: 107px;
    text-align: center;    
    font-family: 'Verdana', sans-serif;
    color:  #ffffff;
    font-size: 16px;
    line-height: 22px;
    vertical-align: top;
}
 .plus {
    display: inline-block;
    font-size: 12px;
    font-weight: 700;
    vertical-align: top;
    line-height: 21px;
 }
 .or {
    font-family: 'Verdana', sans-serif;
    color:  #848484;
    font-size: 14px;
    padding-top: 17px;
 }
 .gray_line::after {
    content: '';
    display: inline-block;
    background-color: #848484;
    width: 135px;
    height: 1px;
    margin-left: 18px;
    margin-bottom: 4px;
 }
 .gray_line::before {
    content: '';
    display: inline-block;
    background-color: #848484;
    width: 135px;
    height: 1px;
    margin-right: 18px;
    margin-bottom: 4px;
 }
 .form-sign-up {
    padding-top: 2px; 
 }
 .form-sign-up-input {
    display: block;
    width: 100%;
    border: 1px solid #bebebe;;  
    border-radius: 3px;
    margin-bottom: 9px;
    font-family: 'Verdana', sans-serif;
    color:  #bebebe;
    font-size: 14px;
    padding: 14px 0 14px 17px;
    box-sizing: border-box;   
}
.form-sign-up-input:focus {
    outline: 0;
    box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.21);
    color:  #434343;
    background-color: #ffffff;
}
    /* Скрываем ненужный дефолтный checkbox: */
.check-box {
    display: none;   
}
    /* Добaвляем свой checkbox: */
/* border for checkbox: */
.check-box-border::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid #848484;
    border-radius: 3px;
    margin-right: 10px;
    position: relative;
    top: 5px; 
}
/* lable: */
.check-box-description {    
    font-family: 'Verdana', sans-serif;
    color:  #434343;
    font-size: 14px;
    display: inline-block; 
    margin-top: 5px;
}
/* checking: */
 .check-box:checked + .check-box-border::before {
    background: url(../images_day/checkbox.png) 4px 5px no-repeat; 
}
/* End checkbox */

.form-color-btn {
background-color: #ea7208;
width: 100%;
border: none;
border-radius: 3px;
font-family: 'Verdana', sans-serif;
color:  #ffffff;
font-size: 16px;
cursor: pointer;
padding: 14px 5px;
margin-top: 25px;
}
.form-color-btn:focus {
    outline: 0;
}