* {
margin: 0;
padding: 0;
}
body {
font-family: 'Roboto', Arial, Helvetica;
}
a, a:visited {
text-decoration: none;
color: #000;
}
.container {
width: 1280px;
margin: 0 auto;
}
.clearfix::after {
content: "";
display: table;    
clear: both;
}

/* HEADER START */
h1 {
padding-top: 61px;
padding-bottom: 45px;
font-size: 80px;
color: #000;
}
.color-name {
color:  #4bcaff;
}
.top-nav {
text-align: center;
background-color:  #35444f;
margin-bottom: 51px;
}
.top-nav-item {    
display: inline-block;
list-style-type: none;
font-size: 24px;
color:  #ffffff;
padding: 22px 42px 22px 42px;
}
.top-nav-item:hover {
background-color: #222f3a;
border-left: 1px solid #a8a4a4;
border-right: 1px solid  #a8a4a4;
}
/* HEADER END */

/* MAIN START */
.sidebar-left {
width: 344px;
border: #797979 solid 1px;
float: left;
}
.sidebar-item {
color:  #485863;
font-size: 26.99px;
list-style-type: none;
padding: 29px 44px;
}
.sidebar-item:hover {
color:  #000000;
background-color: #dcdcdc;
padding-left: 69px;
}
.section-right {
width: 885px;
overflow: hidden;
text-align: center; 
border: #797979 solid 1px;
float: right;
}
.section-right-img {
max-width: 100%;
transition: 0.5s;
transform: scale(1.02);
}
.section-right-img:hover {
transition: 0.5s;
transform: scale(1.1);
}
.article {
float: right;    
width: 885px;
line-height: 24px;
font-size: 18px;
color:  #2c2b2b;
box-sizing: border-box;
padding: 50px 30px 50px 30px;
}
/* MAIN END */

/* FOOTER START */
.footer {
background-color: #b5b8bb;
padding: 22px 44px;
margin-bottom: 30px;
}
.footer-nav {
float: left;
}
.footer-nav-item {
padding-right: 30px;
display: inline-block;
list-style-type: none;
font-size: 28px;
color:  #0c1927;
}
.footer-nav-item:hover {
color:  #3181a6;
text-decoration: underline;
}
.copyright {
float: right;
color:  #010000;
font-size: 24px;
font-weight: 400;
margin-top: 3px;
}
/* FOOTER END */