div {
  margin: 150px auto 0;
}
ul {
  display: table;
  margin: 0 auto;
  font-size: 22px;
  border: 1px solid rgb(212, 212, 212);
  border-radius: 10px;
  padding: 15px 30px;
  margin-top: 20px;
}
span {
 font-size: 24px;
  color: blue;
  font-weight: 700;
  padding: 10px;
  display: block;
  margin: 0 auto;
  text-align: center;
}