a, a:visited {
 text-decoration: none;
}
.main-container {
  background-image: url(../images/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 1366px;
  padding-top: 49px;
  padding-bottom: 20px;   
}
.container {
  width: 1063px;
  margin: 0 auto;
}
.header {
  display: grid;
  grid-template-columns: 1fr 5fr;
}
.header-logo {
  display: grid;
  grid-template-columns: 46px 1fr;
  grid-column-gap: 15px; 
}
.header-logo-img {
  background-image: url(../images/logo.png);
  background-repeat: no-repeat;
  margin-top: 5px;  
}
.header-logo:hover .header-logo-img {
  background-image:  url(../images/logo-hover.png);
}
.header-logo:hover .header-company-name {
  color:  #f2651c;
}
.header-company-name {
  color:  #ffffff;
}
.header-company-name-big {
  font-family: 'Verdana', sans-serif;
  font-weight: 700;    
  font-size: 29px;
  margin-bottom: 4px;
}
.header-company-name-small {
  font-family: 'Verdana', sans-serif;
  font-weight: 700;
  font-size: 18px;
}
.header-company-contacts {
  font-family: 'Verdana', sans-serif;
  color:  #ffffff;
  font-size: 18px;
  text-align: right;
  padding-top: 3px;
  padding-bottom: 3px;
}
.services-list {
  margin-top: 48px;
  display: grid;
  grid-template-columns: 308px 308px 308px;
  grid-column-gap: 69px;
  /* grid-template-rows: auto auto; */
}
.service-item {
  margin-bottom: 58px;
}
.service-img {
  position: relative;
  border:  2px solid transparent;
  border-image: linear-gradient(to top, transparent 0%, rgb(229, 229, 229) 100%);
  border-image-slice: 1;
  box-sizing: border-box;
  box-shadow: 0px -17px 24px 0px #000000;
  overflow: hidden;   
}
.service-image {
  max-width: 100%;
}
.service-details {
  background-color:  #f2651c;
  position: absolute;
  bottom: -69px;
  width: 100%;
  -webkit-transition: bottom 0.3s linear;
  -moz-transition: bottom 0.3s linear;
  -o-transition: bottom 0.3s linear;
  transition: bottom 0.3s linear;
  transition: bottom 0.3s linear;
  display: flex;
  justify-content: space-between;
}
.service-details-price {
  padding: 17px 21px; 
}
.service-details-price-from {
  font-family: 'Verdana', sans-serif;
  color: #ffffff;
  font-size: 10px;
}
.service-details-price-euro {
  font-family: 'Verdana', sans-serif;
  color:  #ffffff;
  font-size: 20px;
  display: block;
  padding-top: 5px;
}
.service-details-view {
  padding: 17px 18px;
}
.service-details-view-details {
  font-family: 'Verdana', sans-serif;
  color:  #ffffff;
  font-size: 14px;
  position: relative;
  top: 10px;
}
.service-details-view-details::after {
  content: ">";
  padding-left: 13px;
}
.service-name {
  font-family: 'Verdana', sans-serif;
  color:  #ffffff;
  font-size: 18px;
  text-align: center;
  padding-top: 22px;
}
.service-item:hover .service-details {
  bottom: 0;
}
.service-item:hover .service-name {
  color:  #f26522;  
}
.copyright {
  font-family: 'Verdana', sans-serif;
  color:  #ffffff;
  font-size: 12px;
  text-align: center;
}