body {
margin: 0;
padding: 0;
font-family: Roboto, Arial, Helvetica;
color: #373737;
letter-spacing: 0.1em;
line-height: 1.4em;
}
nav {
text-align: center;
height: 60px;
padding-top: 5px;
background-color: white;
margin-top: 5px;
margin-bottom: 5px;
}
li {
display: inline-block;
list-style-type: none;
padding-left: 30px;
padding-right: 30px;
text-align: center;
color: #16a085;
font-size: 18px;
}
section {
height: 790px;
background-image: url(photo.jpg);
background-repeat: no-repeat;
background-size: cover;   
}
article {
margin: auto;
background-color: rgb(240, 244, 244);
padding-left: 10%;   
padding-right: 10%;
text-align: center;
padding-bottom: 80px;
}
h1 {
padding: 5px;
}
.btn {
font-family: GothamRounded;
color:  #ffffff;
border-radius: 6px;
background-color:  #16a085;
width: 192px;
height: 51px;
}
footer {
text-align: right;
padding-right: 10%;
margin-top: 40px;
margin-bottom: 40px;
}