body {
  background-color: rgb(3, 54, 3);
}
.container {
  width: 35%;
  min-width: 450px;
  margin: 10% auto 0; 
  display: flex;
  flex-wrap: wrap;
  align-items: end;
  justify-content: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.display-time {
  width: 33%;
  /* height: 100px; */
  background-color: rgb(189, 185, 185);
  font-size: 50px;
  color: blue;
  font-weight: 700;
  padding: 40px 5px;
  text-align:  center;
  box-sizing: border-box;
} 
.titles {
  width: 33%;
  height: 40px;
  background-color: rgb(80, 80, 80);
  padding: 2px 5px;
  text-align:  center;
  color: rgb(255, 255, 255);
  font-size: 22px;
  box-sizing: border-box;
}
.btn {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 4px;
  background-color: rgb(247, 121, 3);
  width: 15%;
  padding: 12px;
  text-align:  center;
  color: rgb(255, 255, 255);
  font-size: 22px;
  cursor: pointer;
}
.btn-pause  {
  visibility: hidden;
}
.btn-active  {
  background-color: rgb(247, 72, 3);
  box-shadow: 0 0 15px rgba(255, 254, 254, 0.5);
}