.main-btn {
  font-size: 20px;
  padding: 7px;
  border-top: 1px solid rgb(194, 194, 194);
  border-right: 1px solid rgb(194, 194, 194);
  border-radius: 6px;
  cursor: pointer;
  margin: 20px;
  }
.inputText {
  height:25px;
  color:gray;
  font-size:16px;
  padding-left:5px;
  display:block;
  margin:20px;
}
.circle {
  border:1px;
  margin:20px;
  display: inline-block;
}