a {
  text-decoration: none;
}
.pricing-table {
  margin: 15px auto;
  width: 1192px;
  border: 24px solid #374765;
  text-align: center;
  border-collapse: collapse;
  box-sizing: border-box;
}
.thead, .tbody, .tfoot {
  font-family: 'Arimo', sans-serif;
  color: #484848;
  text-transform: uppercase;
}
.thead .td {
  vertical-align: middle;
  padding: 28px 0;
  background-color: #fafafa;
}
  .pricing-plan-title-1 {
  font-size: 18px;
  font-weight: 700;
  padding: 5px 0;
}
.pricing-plan-title-2 {
  font-size: 30px;
  font-weight: 700;
}
.plan-name {
  padding: 27px 0;
  color:  #ffffff;
  font-size: 24px;
  font-weight: 700;
}
.plan-name-bg-standard {
  background-color:  #89c331;
}
.plan-name-bg-ultimate {
  background-color: #f04a56;
  font-size: 30px;
}
.plan-name-bg-premium {
  background-color: #20807c;
}
.td-plan-price {
  box-shadow: inset 7px 0px 10px -10px rgba(0, 0, 0, 0.7);
  padding: 18px 0;
  background-color: #fafafa;
}
  .plan-price-index {
  display: inline-block;
}
  .plan-price-dollar {
  display: inline-block;
  font-size: 60px;
  font-weight: 700;
}
.plan-price-cents {
  font-size: 24px;
  font-weight: 700;
  text-align: left;
  padding-bottom: 5px;
}
.plan-price-month{
  font-size: 18px;
}
.tbody, .tfoot {
  font-size: 16px;
}
.tbody tr:nth-child(odd) {
  background-color: #f2f2f2;/* фон нечетных строк */
  }
.tbody tr:nth-child(even) {
  background-color: #e3e3e3;/* фон четных строк */
}
.tbody .td {
  padding: 28px 0;
  box-shadow: inset 7px 0px 10px -10px rgba(0, 0, 0, 0.7);
}
.tfoot-bg-contact {
  background-color: #dddddd;
  box-shadow: inset 7px 0px 10px -10px rgba(0, 0, 0, 0.7);
}
.tfoot-bg-buy-standard {
  background-color:  #eeeeee;
  box-shadow: inset 7px 0px 10px -10px rgba(0, 0, 0, 0.7);
}
.tfoot-bg-buy-ultimate {
  background-color:  #f4f4f4;
  box-shadow: inset 7px 0px 10px -10px rgba(0, 0, 0, 0.7);
}
.tfoot-bg-buy-premium {
  background-color:  #eeeeee;
  box-shadow: inset 7px 0px 10px -10px rgba(0, 0, 0, 0.7);
}
.btn {
  color:  #ffffff;
  font-weight: 700;
  display: inline-block;
  padding: 18px 0;
  border-radius: 5px;
  width: 192px;
  margin-top: 29px;
  margin-bottom: 29px;  
}
.btn-bg-contact {
  background: linear-gradient(to top, #3e3e3e 12%, #464646 14%, #464646 100%);
}
.btn-bg-contact:hover {
  background: linear-gradient(to top, #201f1f 12%, #292828 14%, #292828 100%);
  box-shadow:  5px 5px 5px 0px rgba(0, 0, 0, 0.7); 
  color: rgb(250, 246, 35);
}
.btn-bg-buy-standard {
  background: linear-gradient(to top, #7ab122 12%, #8ac42d 14%, #8ac42d 100%);
}
.btn-bg-buy-standard:hover {
  background: linear-gradient(to top, #486e09 12%, #598a0b 14%, #598a0b 100%);
  box-shadow:  5px 5px 5px 0px rgba(0, 0, 0, 0.7); 
  color: rgb(250, 246, 35);
}
.btn-bg-buy-ultimate {
background: linear-gradient(to top, #e03744 12%, #f04855 14%, #f04855 100%);
}
.btn-bg-buy-ultimate:hover {
  background: linear-gradient(to top, #96030f 12%, #d40f20 14%, #d40f20 100%);
  box-shadow:  5px 5px 5px 0px rgba(0, 0, 0, 0.7);
  color: rgb(250, 246, 35);
 }
.btn-bg-buy-premium {
  background: linear-gradient(to top, #0e746f 12%, #1a817d 14%, #1a817d 100%);
}
.btn-bg-buy-premium:hover {
  background: linear-gradient(to top, #013d3a 12%, #045c57 14%, #045c57 100%);
  box-shadow:  5px 5px 5px 0px rgba(0, 0, 0, 0.7);
  color: rgb(250, 246, 35);
}
.icon-and-description {
  text-align: center;
}
.icon-style {
  color: #848484;
  font-size: 24px;
  padding-right: 12px;
}
.service-title {
display: inline-block;
top: -2px;
position: relative;
}