@font-face {
  font-family: "Arimo";
  src:  url('../fonts/ArimoEOT.eot'),                           /* Internet Explorer 4+ */
    url('../fonts/ArimoTTF.ttf') format('truetype'),     /* Opera, Safari */  
    url('../fonts/ArimoWOFF.woff') format('woff'),    /* FF 3.6, Chrome 5, IE9 */
    url('../fonts/ArimoSVG.svg#font') format('svg'),  /*  iOS */
    url('../fonts/ArimoWOFF2.woff2') format('woff2'); 
}    
a {
  text-decoration: none;
}
.pricing-table {
  margin: 15px auto;
  width: 1197px;
  border: 30px solid #374765;
  text-align: center;
  border-collapse: collapse;
  box-sizing: border-box;
}
.thead, .tbody {
  font-family: 'Arimo', sans-serif;
  color: #484848;
  text-transform: uppercase;
}
.thead {
  font-size: 20px;
}
.thead .td {
  vertical-align: middle;
  padding: 31px 0;  
}
td:nth-child(n+3):nth-child(odd) {
  background-color: #f2f2f2; /*фон нечетных столбцов начиная с 3-го */
}
td:nth-child(even) {
  background-color: #e3e3e3; /* фон четных столбцов */
}
td:nth-child(n+1) {
  box-shadow: inset 0px -7px 10px -10px rgba(0, 0, 0, 0.7); /* горизонтальные линии */
}
.pricing-plan-titles {
  background-color: #fafafa;
}
  .pricing-plan-title-1 {
  font-size: 14px;
  font-weight: 700;
  padding-bottom: 9px;
}
.pricing-plan-title-2 {
  font-size: 20px;
  font-weight: 700;
}
.pricing-plan {
  padding: 18px 16px;
  color:  #ffffff;
  font-weight: 700;
}
.plan-name{
  margin-bottom: 19px;
  font-size: 24px;
}
.plan-name-bg-standard {
  background-color:  #89c331;
}
.plan-name-bg-ultimate {
  background-color: #f04a56;
}
.plan-name-bg-premium {
  background-color: #20807c;
}
  .plan-price-dollar {
  display: inline-block;
  font-size: 36px;
  font-weight: 700;
}
.plan-price-cents {
  font-size: 18px;
  font-weight: 700;
  display: inline-block; 
  vertical-align: top;
}
.plan-price-month{
  font-size: 14px;
}
.tbody td {
  font-size: 16px;
  vertical-align: middle;
}
.plan-content {
padding: 4px;
}
.service-icon {
  color: #848484;
  font-size: 24px;
  padding-bottom: 10px;
}
.btn {
  color:  #ffffff;
  font-weight: 700;
  font-size: 16px;
  display: block;
  padding: 14px 0;
  border-radius: 5px;
  width: 144px;
  margin: 19px auto 0;
}
.btn-bg {
  background: linear-gradient(to top, #3e3e3e 12%, #464646 14%, #464646 100%);
}
.btn-bg:hover {
  background: linear-gradient(to top, #201f1f 12%, #292828 14%, #292828 100%);
  box-shadow:  5px 5px 5px 0px rgba(0, 0, 0, 0.7); 
  color: rgb(250, 246, 35);
}