/* УНИВЕРСАЛЬНЫЕ СВОЙСТВА */

 @import url("https://fonts.googleapis.com/css?family=Lato|Montserrat"); /*в начале файла!! */

/*  @font-face {
   font-family: "Montserrat";
     src: url(../myFolder/font.ttf) 
 }*/

/* Стили для эффекта ПАРАЛАКС : */
.main-container{
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 2px;
     /* position: relative; */
  /*  box-sizing: border-box; */
}


.container {
    width: 1170px;
    margin: 0 auto;
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;}

.text-orange {
    color:#f1ad1d;
}
.orange-btn {
    /* display: inline-block; */
    background: #f1ad1d;
    color: #ffffff;
    padding: 20px 27px ;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
}   
.section-title {
    font-family: 'Montserrat', sans-serif;
    color:  #333333;
    font-size: 22px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 35px;
}
.section-description {
    font-family: 'Lato', sans-serif;
    color:  #4d4943;
    font-size: 17px;
    font-weight: 400;
    margin-top: 35px;
    text-align: center;
}
.under_line::after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background-color: #f1ad1d;
    margin: 52px auto 0;
}
.under_line_long::after {
    content: "";
    display: block;
    /* width: 60px; */
    height: 3px;
    background-color: #f1ad1d;
    /* margin: 52px auto 0; */

}
.slogan-title {
    font-family: 'Montserrat', sans-serif;
    color:  #ffffff;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}
/* HEADER START */
    .header {
    /* background-image: url(images/img_1.png); */
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
    /* padding-top: 531px; */
    /* padding-bottom: 145px; */
    height: 100vh;
    position: relative;
    box-sizing: border-box;
}
    .header::after {
    content: '';
    background-image: url(images/img_1.png);
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    
    transform: translateZ(-5px) scale(4);

    z-index: -1;
}     
.header-content {
    display: flex;
    /*align-items: flex-end;*/
    align-content: flex-end;
    flex-wrap: wrap;
    height: 100vh;
    /*padding-bottom: 145px;*/
}  /* для паралакса*/

.header-company-name {
    font-family: 'Montserrat', sans-serif;
    color:  #ffffff;
    font-size: 48px;
    font-weight: 700;
    
    width: 100%;
}
.header-company-description {
    font-family: 'Lato', sans-serif;
    color:  #ffffff;
    font-size: 18px;
    font-weight: 400;
    margin-top: 16px;

    width: 100%;
}
.header-slogan {
    font-family: 'Montserrat', sans-serif;
    color:  #ffffff;
    font-size: 54px;
    font-weight: 700;
    margin-top: 28px;

    width: 100%;
    margin-bottom: 145px;
}/* Для паралакса */
/* HEADER END */

/*ABOUT US START */
.about-us {
    padding: 69px 0;
}
.about-us-awards {
    text-align: center;
    margin-top: 57px;
}
.about-us-award {
    max-width: 100%;
}
/*ABOUT US END */

/* NAVBAR START */
.navbar-logo {
   float: left;  /*  зачем? */
}
.navbar-logo img {
    max-width: 100%;
}
.navbar-nav {
    float: right;
    margin-top: 4px;
}
.navbar-nav-item {
    display: inline-block;
    margin-right: 70px;
}
.navbar-nav-link {
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    color:  #3d3d3d;
    font-size: 18px;
}
.navbar-nav-link:hover {
    color: #f1ad1d;
}
.navbar-nav-link:last-child {
    margin-right: 0;
}
.orange-line-long {
    width:1170px;
    margin: 22px auto 0;
    display: block;
    height: 3px;
    background-color: #f1ad1d;
    border: none;
}
/*NAVBAR END*/

/*FEATURES START*/
.our-features {
    padding: 125px 0;
}
.features {
    float: left;
}
.features-list {
    float: left;
    width: 570px;
}
.features-item {
    width: 270px;
    float: left;
    margin-bottom: 22px;
    position: relative;
}
.features-item:nth-child(2n-1) {
margin-right: 30px;
}/* .mr30 {margin-right: 30px;}   заменили*/

.features-name {
    width: 117px;
    background-color: #333333;
    font-family: 'Lato', sans-serif;
    color:  #ffffff;
    font-size: 14px;
    position: absolute;
    padding: 15px;
    bottom: 11px;
    left: 13px;
}
.features-description {
    float: right;
    width: 569px;
}
.features-description-title {
font-family: 'Montserrat', sans-serif;
color:  #333333;
font-size: 18px;
font-weight: 700;
line-height: 18px;
margin-bottom: 26px;
text-transform: uppercase;
}
.features-description-text {
    font-family: 'Lato', sans-serif;
    color:  #505050;
    font-size: 14px;
    font-weight: 300;
    line-height: 19px;
    text-align: justify;
    margin-bottom: 36px;
}
/*FEATURES END*/

/* SLOGAN-1 START */
.slogan-section-1 {
    background-image: url(images/slogan-1-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 151px 0;
}
/*SLOGAN-1 END*/


/* OUR-TEAM START */
.our-team {
    padding-top: 114px;
    
}
.team-list {
margin-top: 53px;
}
.team-person {
width: 193px;
float: left;
margin-right: 2px;
margin-bottom: 2px;
position: relative;
}
.team-person:nth-child(6n) {
 margin-right: 0;
}
.team-person-img {
    max-width: 100%;
}
.team-person-name {
display: inline-block;
font-family: 'Lato', sans-serif;
color:  #ffffff;
font-size: 14px;
font-weight: 400;
background-color:  #333333;
width: 136px;
padding: 15px;
position: absolute;
bottom: 17px;
left: 14px;
}
.team-person-link {
text-decoration: none;
}
/*  OUR-TEAM END */

/* OUR-SERVICES START */
.our-services {
padding: 104px 0;
}
.services-list {
margin-top: 46px;
}
.services-item {
float: left;
width: 271px;
margin-right: 28px;
}
.services-item::after {
content: "";
display: block;
height: 3px;
background-color: #333333;
margin-top: 34px;
}
.services-item:nth-child(4n) {
margin-right: 0;
}
.service-name {
background-color: #333333;
height: 56px;
line-height: 56px;
font-family: 'Montserrat', sans-serif; 
color:  #ffffff;
font-size: 18px;
font-weight: 700;
text-align: center;
}
.service-img {
height: 50px;  /*по самой высокой картинке */
line-height: 50px; /*для центрирования по вертикали (по высоте блока) */
margin-top: 43px;
text-align: center;
margin-bottom: 29px;
}
.service-description {
font-family: 'Lato', sans-serif;
color:  #505050;
font-size: 14px;
font-weight: 300;
text-align: center;
line-height: 16px;
height: 100px;
position: relative;  /*     для orange-line!! */
}
.service-description::after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background-color: #f1ad1d;
    position: absolute;
    bottom: 0;
    left: 105px;
}
.service-offer-slogan {
font-family: 'Lato', sans-serif;
color:  #505050;
font-size: 18px;
font-weight: 400;
text-align: center;
margin-top: 28px;
}
.service-offer {
    font-family: 'Lato', sans-serif;
    color:  #505050;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    text-align: center;
}
 /* OUR-SERVICES END */ 
 
 /* FEATURED START */
 .partners {
    background-image: url(images/featured-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 175px 0 128px 0;
    margin-top: 140px;
}
.partners-logos-list {
    margin-top: 58px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
 .partner-logo-link {
    margin-right: 32px;
    margin-left: 32px;
 }
 .partner-logo-link-img {
    max-width: 100%;
 }
 /* FEATURED END */



/* BRANDS START */
 .brands {
     margin-top: 123px;
 }
 .brands-list {
    display: flex;
    justify-content: space-around;
    margin-top: 58px;
}
/* BRANDS END */

/* PORTFOLIO START */
.portfolio {
    margin-top: 105px;
}
.portfolio-categories {
    display: flex;
    justify-content: center;
    margin-top: 61px;
}
    .portfolio-categories-item {
    text-decoration: none;
    border: 1px solid #333333;
    background-color:  #ffffff;
    font-family: Lato;
    color:  #111111;
    font-size: 14px;
    font-weight: 300;
    margin: 9px;
    padding: 15px 40px;
    margin-bottom: 45px;
}
.portfolio-categories-item:hover {
    color:  #f1ad1d;
    background-color:  #2f2f2f;
}
.portfolio-list {
    display: flex;
    flex-wrap: wrap;
     justify-content: space-between;  
}
.portfolio-list-item {
    margin: 4px  6px;
    width: 277px;
     position: relative;
     box-sizing: border-box;

}
.portfolio-item-info {
    position: absolute;
   background-color: #ffffff;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    border: 1px solid black;
    text-align: center;
    opacity: 0; 
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 20px 0;     
    width: 279px;
} 
.portfolio-list-item:hover .portfolio-item-info {
    animation: portfolio-hover  4s ease,  portfolio-hover-rotate 4s ease, portfolio-hover-translat 2s ease;
    animation-fill-mode: forwards;    
   
} 
.portfolio-info-title {    
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: 300;
}
.portfolio-info-description {
    font-family: 'Lato', sans-serif;
    color:  #5b5b5b;
    font-size: 14px;
    font-weight: 300;
}
.portfolio-btn-more {
    padding: 15px 37px;
    font-family: 'Lato', sans-serif;
    color:  #ffffff;
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    background-color: #f2af17;
    text-decoration: none;
}
@keyframes portfolio-hover {
    0%        { opacity: 0;  }
    100%    { opacity: 1;  }
}
/* @keyframes portfolio-hover-translate {
    0%        { transform: translate(500px, -500px) ; }
    25%      { transform: translate(300px, 350px) ; }
    50%      { transform: translate(200px, -200px) ; }
    75%      { transform: translate(50px, -150px) ; }
    100%    { transform: translate(0px, 0px) ; }
} */
@keyframes portfolio-hover-rotate {
    from { transform: rotate(0deg) translate(500px, -500px) ;  }
    to  { transform: rotate(720deg) translate(0px, 0px); }
}